.logo {
  width: 250px;
}
.video{
  width: 100% !important;
  object-fit: cover;
  display: inline block;
}
.contact input {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: #84C225;
}

/* button {
  margin-bottom: 20px;
  background: transparent;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  margin-top: 20px;
  color: white;
  width: 29%;
  font-weight: 500;
} */

textarea {
  /* width: 27.5%; */
  height: 150px;
  margin-top: 20px;
  padding: 10px;
  background: transparent;
}

section div a {
  margin: 10px;
}

section div.icons a:first-child {
  color: rgb(7, 1, 4);
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.social-icon i {
  padding: 10px;
}

.social-icon i:hover {
  color: #84C225;
}

.contact textarea {
  width: 78%;
  margin-top: 30px;
  border-color: #84C225;
}

@media screen and (max-width: 769px) {
  .tool img {
    margin-bottom: 40px;
  }
  .contact input {
    width: 100%;
  }
  .contact textarea {
    width: 100%;
    margin-top: 30px;
    border-color: #84C225;
  }
}

@media screen and (max-width: 420px) {
  .hero-home-2 {
    height: 400px;
  }
  .logo {
    width: 150px;
  }
  .page-hero-section h1 {
    font-size: 2.5rem;
    margin-top: -150px;
  }
  h2 {
    font-size: 30px;
    padding: 0 5px;
  }
  .client img {
    width: 200px;
  }
  .contact input {
    width: 100%;
  }
  .page-footer-section {
    padding-top: 50px;
  }
  .page-footer-section h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 378px) {
  .store {
    margin-top: 10px;
  }
}